.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.projects-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.project-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-links {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    position: relative;
}

.project-icon, .project-tech {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.project-icon:hover {
    transform: scale(1.2);
}

.project-icon-container {
    position: relative;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.project-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-icon-container:hover .project-tooltip {
    visibility: visible;
    opacity: 1;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.project-description {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #333;
}

@media (min-width: 768px) {
    .project-item {
        flex-direction: row;
        text-align: left;
    }

    .project-image {
        margin-right: 20px;
    }

    .project-description {
        font-size: 1.25rem;
    }
}
