.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d9d9d9;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo {
    font-size: 18px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #000;
    font-size: 16px;
    margin-right: 20px;
}
.navbar-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}

.navbar-button a {
    color: inherit;
}

.navbar-button a:visited {
    color: inherit;
}

.navbar-button:hover {
    background-color: #444;
}
